<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>AT&T</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="myApp.css" rel="stylesheet">
<script src="myApp.js"></script>

</head>
<body class="body " data-ng-app="myApp" data-ng-controller="homePage">
	<header class="body1">
		<table class="table">
			<tr>
				<td><img class="body1" src="../images/AT&T.png"
					style="float: left;" width="20%"></img>
				</td>

				<td >
					<span  class="glyphicon glyphicon-bell glyphicons" data-ng-click=""></span>&nbsp;
					 <span  data-ng-click="HomePage()"
					  class="glyphicon glyphicon-home glyphicons" >  </span>&nbsp;
					  <span  class="fa fa-commenting glyphicons" data-ng-click=""></span>&nbsp;
					   <span  class="fa fa-cloud-upload glyphicons"  data-ng-click=""></span>&nbsp;
					   <span class="fa fa-cloud-download glyphicons" data-ng-click=""></span>
				   </td>
				<td>
					<button type="button" class="btn btn-danger" style="float: right;"
						data-ng-click="logout()">
						<span class="glyphicon glyphicon-log-out"></span> &nbsp; log out
					</button>
				</td>
			</tr>
		</table>
	</header>
	
			<div class="body1 sideBar"  >
				<nav class="nav nav-pills">
					<img  src="../images/avatar_hat.jpg"
						style="width: 150px" height="100px"></img>
						<div class="chip">
						Hello {{usersName.firstName}} {{usersName.lastName}}
						</div>
					<hr>
					<br>
					<section >
						<input type="text" class="body1 search" />
					</section>
					<h5 >My Courses</h5>

					<button class="body1 btn btn-primary" data-ng-click="addNewSubject(newSubject)"
						id="newSubject">+Add New Subject</button>
					<input  data-ng-model="newSubject" type="text"
						placeholder="Insert New Subject" id="newSubject1">

					<div data-ng-show="allSubjectBtn" data-ng-hide="allSubjectBtnHide">
						<ul id="ulNav" class="menu" data-ng-repeat="x in allsubject" >
							<li data-ng-click="associate(x.id)" value="{{x.id}}" style="cursor: pointer;">{{x.subject}}</li>
						</ul>
					</div>
				</nav>
			</div>
	<div  data-ng-view    id="divView" ></div>

</body>
</html>