body {
	box-sizing: border-box;
	min-height: 900px;
}

.body1 {
	display: none;
}

div.container {
	width: 100%;
	border: 1px solid gray;
	font-family: Gill Sans Extrabold, sans-serif;
	background-color: #e5e5e5;
}

header, footer {
	color: black;
	background-color: white;
	clear: left;
	text-align: center;
}

.menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

/* nav {
	float: left;
	margin: 0;
	width: 180px;
} */

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
	border-top: 0px solid ;
}

nav ul {
	list-style-type: none;
	padding: 0;
	background-color: #ffffff;
	margin: 0;
}

nav ul a {
	text-decoration: none;
	color: #000000
}

nav ul li {
	padding: 8px 10px;
}

nav ul li:hover {
	background-color: #448AFF
}

nav ul li:hover a {
	color: #ffffff
}

section {
	padding: 50px 15px 10px 15px;
	border-bottom: 1px solid gray;
	width: 50%;
}

article {
	border-left: 1px solid gray;
	padding: 20px;
	overflow: hidden;
	float: left;
	width: calc(100% - 180px);
	background-color: #ffffff;
}

.box {
	 background-image: url('images/images.png'); 
	width: 20%;
	/* height: 300px; */
	float: left;
	padding: 10px;.
	
}
.footer{
	min-height: 900
}

.search {
	width: 100%;
	height: 30px;
	border-radius: 20px;
	border: none;
	border: 2px solid grey;
}

.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
}

.right-addon .glyphicon {
	right: 10px;
}

.right-addon input {
	padding-left: 0px;
}