body {
	height: 100%;
}

.glyphicons{
	font-size: 25px;
	 pointer-events: auto;
	 cursor: pointer;
	  margin-right: 35px;
}
.body1 {
	display: none;
}

div.container {
	width: 100%;
	font-family: Gill Sans Extrabold, sans-serif;
	background-color: #e5e5e5;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.error{
	border: solid 1px #ff1111;
}
p{
	margin: 0 0 10px;
    font-size: 25px;
    color: gray;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;	
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     pointer-events: auto;
	 cursor: pointer;
}
.menu li:hover {
    background-color: #0099cc;
}

 .nav {
	float: left;
	margin: 0;
	 width: 20%;
} 

.nav nav-pills{
	margin-right: 50px;
	margin-left: 10px''
}

.panel-default{
	box-shadow: 10px 10px 5px #888888;
	 width:inherit;
	 border: 1px solid;
	     padding: 15px
}
.panel-default > .panel-heading , .panel-default > .panel-footer{
	background:#1abedb;
	font-family: 'Mandali' , sans-serif;
}
.panel-body{
	padding: 9px;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
	border-top: 0px solid ;
}

.registerBackButtons {
    width: 65%;
    margin-left: 21%;
}


.courseDetailes{
	margin: 50px 50px 50px 50px;
}


.chat{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
nav ul {
	list-style-type: none;
	padding: 0;
	background-color: #ffffff;
	margin: 0;
}

nav ul a {
	text-decoration: none;
	color: #000000
}

.scrollCourseDetailes{
	overflow: scroll;
	height: -webkit-fill-available;
}
nav ul li {
	padding: 8px 10px;
}

nav ul li:hover {
	background-color: #448AFF
}

nav ul li:hover a {
	color: #ffffff
}

section {
	padding: 50px 15px 10px 15px;
	border-bottom: 1px solid gray;
	width: 50%;
}

article {
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
	background-color: #ffffff;
}

.header{
	position: fixed;
}

.box {
	width: 20%;
	/* height: 300px; */
	float: left;
	padding: 10px;.
	 -webkit-transition: all 150ms ease-in-out;
	
}
.footer{
	border: 1px solid;
	height: 100%;
}

.row {
	margin-left: 0px;
}

.search {
	width: 100%;
	height: 30px;
	border-radius: 20px;
	border: none;
	border: 2px solid grey;
}

.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
}

.right-addon .glyphicon {
	right: 10px;
}

.right-addon input {
	padding-left: 0px;
}