

<!-- <a><button class="btn btn-info addNewCourse" data-toggle="modal" data-target="#addmyModal">+Add New Course</button></a> -->
 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#resources">+Add Presantations</button>
<div class="col-md-9">

  <div data-ng-show="showAssociateCourses" data-ng-hide="hideAssociateCourses"  
    data-ng-repeat="course in associated"  class="box well" style="margin-right: 2%;" >
		
			<header>
			<button  class="glyphicon glyphicon-pencil  btn btn-info btn-xs"
		data-toggle="modal" data-target="#myModal" data-ng-click="edit($index)" style="float: right; " >
			</button>
		
			<button  class="glyphicon glyphicon-trash  btn btn-danger btn-xs"
			 data-ng-click="remove($index)" style="float: right; "></button>
			 
				<a class="btn btn-success btn-xs" id="studentDetailesButton" data-toggle="modal" data-target="#courseMembers"
			  data-ng-click="getCourseDetailesOfStudents(course.id)" style="float: right; ">
			 <span class="glyphicon glyphicon-info-sign"></span> </a>
			 
			 			 
			  <h3 class="card-title">{{course.courseName}}</h3>
			   <h4 class="card-title">By {{course.lecturer.firstName+" "+course.lecturer.lastName}}</h4>
			</header>
			  <footer style="background-color: 3a7993;">
				<a ><button id="detailesButton" data-ng-click="getCourseDetailes($event,course.id)" class="btn btn-success btn-md" style="margin-left: 13%; ">
				<span class="glyphicon glyphicon-plus-sign"></span>Detailes</button></a>
			</footer>
	</div>
		
		
		<div data-ng-show="showAllCourses" data-ng-hide="hideAllCourses" 
		  data-ng-repeat="course in allCourses  | filter:search"   class="box well" style="margin-right: 2%;" >
		
			<header>
			<button  class="glyphicon glyphicon-pencil  btn btn-info btn-xs"
				data-toggle="modal" data-target="#myModal" data-ng-click="edit($index)" style="float: right; " >
			</button>
		
			<button  class="fa fa-archive btn btn-danger btn-xs"
			 data-ng-click="remove($index)" style="float: right; "></button>
			 
			 <a class="btn btn-success btn-xs" id="studentDetailesButton" data-toggle="modal"  data-target="#courseMembers"
			  data-ng-click="getCourseDetailesOfStudents(course.id)" style="float: right; ">
			 <span class="glyphicon glyphicon-info-sign"></span> </a>
			 
			 <h3>{{course.courseName}}</h3>
			   <h4>By {{course.lecturer.firstName+" "+course.lecturer.lastName}}</h4>
			</header>
			 <footer style="background-color: 3a7993;">
				<a ><button id="detailesButton" data-ng-click="getCourseDetailes($event,course.id)" class="btn btn-success btn-md" style="margin-left: 13%; ">
				<span class="glyphicon glyphicon-plus-sign"></span>Detailes</button></a>
			</footer>
			
		</div>
		
<div class="modal fade" id="addmyModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Course </h4>
        </div>
       <!--  <div align="center" style="width: 80%; margin: 15px; background-color: white;">
		<div align="center" style="width: 50%; margin: 50px; border: 1px solid gray; background-color: cadetblue  "> -->
		<div class="modal-body">
			<form>
					<br>Course Name:<br> <input type="text" class="form-control" placeholder="Enter Course Name" data-ng-model="addcourseName">
					<br>Lecture:<br> <select  data-ng-model="addlecture">
						<option data-ng-repeat="lecture in allLecturers" value="{{lecture.id}}">{{lecture.firstName+" "+lecture.lastName}}</option>
					</select><br>
					<br>Course Subject:<br> <select  data-ng-model="addcourseSubject">
						<option data-ng-repeat="courseSubject in allCourseSubject" value="{{courseSubject.id}}">{{courseSubject.subject}}</option>
					</select><br>
					<br>Room:<br> <select  data-ng-model="addroom">
						<option data-ng-repeat="room in allRooms" value="{{room.id}}">{{room.roomNumber}}</option>
					</select><br>
					<br>Start Date:<br><input type="date" class="form-control addstartdate" placeholder="Enter start date.." ><!-- data-ng-model="startDate" -->
					<br>End Date:<br> <input type="date" class="form-control addenddate" placeholder="Enter end date.." ><br><!-- data-ng-model="enDate" -->
					
					<br>Description:<br>
					<textarea type="text" class="form-control" rows="3" placeholder="Enter description.." data-ng-model="adddescription"></textarea><br>
					
					<br>Active:<br><input type="checkbox"  data-ng-model="addisActive">
					<p style="color: red;">* If you do not check the box the course will not be active</p>
					
				</form>
			</div>
			 <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info  glyphicon glyphicon-ok-sign" data-ng-click=addCourse(x)>add</button>
			<button type="button" class="btn btn-danger" data-ng-click=resrartCourse()>Clean Fields</button>
        </div> 
			</div>
		</div>	
        
      </div>

  <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Course</h4>
        </div>
		<div style="margin: 50px; background-color: white">
			<form>
					<br>Course Name:<br> <input type="text" class="form-control" placeholder="Enter Course Name" data-ng-model="upcourseName">
					<br>Lecture:<br> <select  data-ng-model="uplecture">
						<option data-ng-repeat="lecture in allLecturers" value="{{lecture.id}}">{{lecture.firstName+" "+lecture.lastName}}</option>
					</select><br>
					<br>Course Subject:<br> <select  data-ng-model="upcourseSubject">
						<option data-ng-repeat="courseSubject in allCourseSubject" value="{{courseSubject.id}}">{{courseSubject.subject}}</option>
					</select><br>
					<br>Room:<br> <select  data-ng-model="uproom">
						<option data-ng-repeat="room in allRooms" value="{{room.id}}">{{room.roomNumber}}</option>
					</select><br>
					<br>Start Date:<br><input type="date" class="form-control upstartdate" placeholder="Enter start date.." >
					<br>End Data:<br> <input type="date" class="form-control upenddate" placeholder="Enter end date.." ><br>
					<br>Description:<br><input type="text" class="form-control" placeholder="Enter description.." data-ng-model="updescription"><br>
					<br>Active:<br><input type="checkbox"  data-ng-model="upisActive">
					<p style="color: red;">* If you do not check the box the course will not be active</p>
				</form>
				<div class="modal-footer"> 
	          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          	<button type="button" class="btn btn-info  glyphicon glyphicon-ok-sign" data-ng-click=updateCourse(x)>update</button>
			<button type="button" class="btn btn-danger" data-ng-click=resrartCourse()>Clean Fields</button>
	        </div> 
			</div>
			</div>
		</div>	
	         
      </div>
      
      
     <!-- ==========================================CorseDetailesModal===================================================== -->
      
			  <div id="courseMembers" class="modal fade"  role="dialog" >
			    <div class="modal-dialog">
			    
			      <div class="modal-content" >
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title"> Course Detailes :</h4>
			        </div>
			        <div class="modal-body">
			        <div class="card">
			         <img class="img-circle" src="images/java.jpeg"  style="width:80%; opacity: 0.4; border: 4px solid red; background-size: !important;">
			         
			          	<table>
			          		 <thead>
					 			<tr>
					 				<th> <span class="glyphicon glyphicon-user"></span></th>
					 				<th> FIRST NAME</th>
					        		<th> LAST NAME</th>
					        		<th> EMAIL</th>
					        		<th>PHONE</th>
					        	</tr>
				        	</thead>
				        	<tbody>
				        		<tr data-ng-repeat="student in courseMembers">
				        		
				        			<td><img class="img-circle" src="images/img_avatar3.png"></td> 
				        			<td>{{student.student.firstName}}</td>
				        			<td>{{student.student.lastName}}</td>
				        			<td>{{student.student.email}}</td>  
				        			<td >{{student.student.phone}}</td>
				        			<td>{{ResponseDetails}}</td>
				        		</tr>
				        	</tbody>
			          	</table>
			          	</div>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			    </div>
		  </div>
		 <!-- =============================Add Presantations======================================= -->
		 			
		<div id="resources" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">
					       
		       		  <div>			<p> Choose photo please:</p>
									<form id="somform" method="POST" action="upload" enctype="multipart/form-data">
										<input type="file" id="file" name="file" /><br>
										
										<select  id="folder"  name="folder">
											<option data-ng-repeat="course in allCourses" value="{{course.id}}" >
												{{course.courseName}}
											</option>
										</select>
										<br>
											 <input
											type="submit"  name="submit"  value="Upload">
									</form>
						</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		
		  </div>
		</div>
	</div>	
