*{
	font-weight: 900;
}

body {
	height: 100%;
	box-sizing: inherit;
	background-color: #3a4250;
}
.addNewCourse{
	margin-right: 0px;
	marker-top: 0px;
	float: right;
}

h1 {
    font-size: 36px;
    color: white;
}

.col-md-9 {
    width: 100%;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.col-md-11 {
    width: 91.66666667%;
    margin-left: 25%;
}

.sideBar{
	background-color: #f1f1f1;
    height: 100%;
    box-shadow: 5px 10px 5px #888888;
    width: 250px;
    margin-right: 15px;	
    margin-top: 4.4%;
    margin-left: 5px;
    border-radius: 5px;
}
.glyphicons{
	font-size: 25px;
	 pointer-events: auto;
	 cursor: pointer;
	  margin-right: 35px;
}

.bell:HOVER , .home:HOVER , .commenting:HOVER , .cloudup:HOVER , .clouddown:HOVER {
	font-size: 28px;
	transition: 1s ease-out;
}
.body1 {
	display: none;
}

div.container {
	width: 100%;
	background-color: #e5e5e5;
}

#divView{
	padding: 5px;
	margin-top: 4%
}

.error{
	border: solid 1px #ff1111;
}

 .modal.in .modal-dialog{
	width: 35%
} 
p{
	margin: 0 0 10px;
    font-size: 25px;
    color: gray;
}
 .nav {
	float: left;
	margin-right: 10px;
} 

.panel-default{
	box-shadow: 10px 10px 5px #888888;
	 width:75%;
	 border: 1px solid;
	     padding: 15px
}
.panel-default > .panel-heading , .panel-default > .panel-footer{
	background:#1abedb;
	/* font-family: 'Mandali' , sans-serif; */
}
.panel-body{
	padding: 9px;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
	border-top: 0px solid ;
}

.register {
    margin-left: 21%;
    margin-top: 4%;
}

.register{
	margin-top: 4%;
}

.courseDetailes{
	margin: 50px 50px 50px 50px;
}

.courseDetailesBtn{
	position: fixed;
	margin-left: 6%;
	margin-top: 5%;
}  

.chat{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.img-circle{
	 height: 25%;
}

.header{
	background-color: white;
	width: 100%;
	border-radius: 5px;
    padding: 2px;
    position: fixed;
    width: 99.5%;
    z-index: 1;
}
.logo{
	height:30px; 
}
.container-fluid{
	font-family: 'Varela Round',sans-serif;
	text-align: -webkit-center;
	margin: 5px;
	background-color: #3a4250;
}
.box {
	width: 30%;
	float: left;
	padding: 11px;.
	 -webkit-transition: all 150ms ease-in-out;
	 box-shadow: 10px 5px 10px #8888;
}

.footer{
	border: 1px solid;
	height: 100%;
}

.search {
	width: 100%;
	height: 30px;
	border-radius: 20px;
	border: 2px solid grey;
}

.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
}

.right-addon .glyphicon {
	right: 10px;
}

.right-addon input {
	padding-left: 0px;
}