
<div class="row" >
<button class="btn btn-primary register" data-ng-click="returnBackToUserPage()"> Back</button>
<button style="float: right; border:1px solid black;" class="btn btn-success register errormodal" data-ng-click="register()" >Register</button>

<div class="col-md-1">

					<div class="card" style="float:  left; position: fixed;"  data-ng-show="courseDetailesBtn">
					<div class="list-group list-group-flush courseDetailesBtn"> 
						<button class="list-group-item" data-ng-click="genral()">General</button>
						<br><br>
						<button class="list-group-item" data-ng-click="Syllabus()">Syllabus</button>
						<br><br>
						<button class="list-group-item" data-ng-click="Schedule()">Schedule  </button>
						<br><br>
						<button class="list-group-item" data-ng-click="MassageBoard()">Massage Board </button>
						<br><br>
						<button class="list-group-item" data-ng-click="Presentations()">Presentations </button>
						<br><br>
						<button class="list-group-item" data-ng-click="Resources()">Resources</button>
						<br>
						</div>
					</div>
</div>


<div class="col-md-11 scrollCourseDetailes" >

<h1 id="General"> General</h1>
<div class="panel panel-default">
		<div  class="panel-body">
					<h2>{{courseDetailes.courseName}} </h2><span>
					<small>By : {{courseDetailes.lecturer.firstName}}  {{courseDetailes.lecturer.lastName}}</small></span>
		</div>
				<hr>
			<div class="description"><div>{{courseDetailes.description}}</div></div>
</div>
<!-- ========================= Syllabus ================================================= -->
<h1 id="Syllabus">Syllabus</h1>
<div class="panel panel-default" >
		<div  class="panel-body" data-ng-repeat="day in courseDays">
					<h2> Day {{$index+1}} </h2>
					<p>{{day.agenda}} </p>
		</div>
</div>
<!-- ============================Schedule============================================ -->
<h1 id="Schedule">Schedule</h1>
<!-- <button type="button" class="btn btn-info btn-lg daysupdateclass" data-toggle="modal" data-target="#newDayAndSchechul">Create New Schedule</button> -->
<div class="panel panel-default second" >
		<div class="panel-body">
			<div data-ng-repeat="day in courseDays" >
					<h3> Day {{$index+1}} :  {{day.day| date:"longDate"}}, {{day.startTime}} - {{day.endTime}}</h3>
					<div>
							<button class=" glyphicon glyphicon-pencil btn btn-info btn-xs "  data-ng-click="register($index)"></button>
							<button class=" glyphicon glyphicon-trash btn btn-danger btn-xs " data-ng-click="deleteDays($index)"></button>
					</div>
			</div>
		</div>
</div>
<div class="panel panel-default first" >
		<div class="panel-body">
			<div data-ng-repeat="day in courseDays">
					<h3 > Day {{$index+1}} :  {{day.day| date:"longDate"}}, {{day.startTime}} - {{day.endTime}}</h3>
			</div>
		</div>
</div>
<!-- ===========================Chat=================================================== -->
<h1  id="MassageBoard">Massage Board</h1>
<div  class="panel panel-default" >
	<div class="panel-body">
		<form>
			<div class="form-group clearfix chat"  data-ng-repeat="massage in allMassages">
				<img src="http://placehold.it/50/55C1E7/fff&text=U"
					alt="User Avatar" class="img-circle" style="float: left;">
				<div class="header">
					<strong class="primary-font">{{massage.student.firstName}}</strong>
					<small class="pull-right text-muted"> <span
						class="glyphicon glyphicon-time"></span>{{massage.date}} ago
					</small>
				</div>
				<div>{{massage.massage}}</div>
			</div>
		</form>
	</div>
	 <div class="panel-footer" >
		<input id="massageId" class="form-control" data-ng-model="massageText" maxlength="250" minlength="1"></input>
		<small id="counter"></small>
		<span><button  class="btn btn-primary" data-ng-click="sendMassage()">
			<i class="glyphicon glyphicon-send"></i><a>&nbsp;</a>Send
		</button>
		</span>
	</div>
</div>
<!-- =============================Presentations======================================= -->
<h1 id="Presentations"> Presentations</h1>
<div id="presentations" >
	<div class="panel panel-default" >
		<div class="panel-body">
				<div>
						 <a href="{{pptx}}" download>download</a>
						<iframe src="{{pdf}}" width="400" height="400">
							<p>Your browser does not support iframes.</p>
						</iframe>
				</div>
		</div>
	</div>
</div> 

<!-- =============================Resources============================================ -->
<h1 id="Resources"> Resources</h1>
 <div id="resources">
		<div class="panel panel-default" >
				<div class="panel-body">
					<p>
					
					<div>
					<body>
						<a href="files\android.pdf" download>download</a>
						<iframe src="files\android.pdf" width="400" height="400">
							<p>Your browser does not support iframes.</p>
						</iframe>
						</body>
					</div>
					
					</p>
				</div>
		</div>
</div> 

<button  class="goToTop btn btn-info"  data-ng-click="ScrollToTop()">  Scroll to top</button>

<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      <div class="daysupdateclass">
      <form style="font-size: 15px">
      <h2>update day</h2><br><br>
      Date:<br><input type="date" class="updatethedate">
      <br><br>
      Agenda:<br><textarea data-ng-model="updateagenda"></textarea>
      <br><br>
      Start Time:<br><input type="time" class="updatestartTime">
      <br><br>
      EndTime:<br><input type="time" class="updateendTime">
      <br>
      </form>
      </div>
      <div class="errormodal">
        <p id="yesOrNotModal">Are you sure ?</p>
      </div>
      </div>
      <div class="modal-footer">
      	<button type="button" data-ng-click="updateDays($index)" class="btn btn-primary daysupdateclass">update</button>
        <button type="button" data-ng-click="go()" class="btn btn-primary errormodal">Yes</button>
        <button type="button" data-ng-click="no()" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




 <!-- <div id="newDayAndSchechul" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new day& Schedule</h4>
      </div>
      <div class="modal-body">
       <form style="font-size: 15px">
	      Date:<br><input type="date" class="adddate">
	      <br><br>
	      Agenda:<br><textarea data-ng-model="addagenda"></textarea>
	      <br><br>
	      Start Time:<br><input type="time" class="addstartTime">
	      <br><br>
	      EndTime:<br><input type="time" class="addendTime">
	      <br><br>
	      Course:<br>
	      <select data-ng-model="addcourse">
	      <option data-ng-repeat="course in allCourses" value="{{course.id}}">{{course.courseName}}</option>
	      </select>
      <br>
      </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-success" data-ng-click="createday()">create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
 -->


</div>
</div>
